  .work{
    background: #ebf7fd;

  }
.icons{
    color: #FFFFFF;;
}
.overley{
  filter: brightness(40%);
}

@media only screen and (max-width:576px) {
  .carousel-caption h1{
      font-size: 16px;
  }
  .carousel-caption p{
      font-size: 12px;
  }
}
